.wall{
    // background: gold;
    border: 2px solid black;
    width: 70%;
    button{
        margin: 20px 10px;
        padding: 10px;
        font-style: italic;
        font-family: 'Playfair Display', serif;
    }
}
.wallTitle{ 
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background: white;
    h2{ 
        padding: 20px;
        font-size: 2rem;   
    }
}
.commentContainer{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background: white;
    h3{
        font-style: italic;
        border-bottom: 2px solid gold;
    }
    p{
        font-size: 0.8rem;
    }
    
}
.commentTitle{
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 15%;
    img{
        width: 80px;
        height: 80px;
    }
}
.commentContent{
    margin: 10px;
    width: 70%;
}
.removeContainer{
    position: relative;
    button{
        margin: 40px 45px; 
        width: 70px;
    }
}
.removeCheck{
    // position: absolute;
    // top:0;
    // right:0;
    display: none;

}
.checkButtons{
    display: flex;
    justify-content: space-between;
    button{
        width: 70px;
        margin: 40px 0 40px 10px;
    }
}
#cancelButton{
    box-shadow: 2px 2px gold, -2px -2px gold;
}