@media (max-width: 960px){
    header{
        h1{
            font-size: 3.4rem;
        }
        h3{
            font-size: 1.2rem;  
        }
    }
    .wallTitle{
        h2{
            font-size: 1.4rem;
        }
    }
    .commentTitle{
        img{
            height: 60px;
        }
    }
}

@media (max-width: 760px){
    main{
        flex-direction: column;
    }
    aside{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .asideBlock{
            width: 45%;
    }
    .wall{
        width: 100%;
    }
    .formContainer{
        width: 80%;
        input, textarea{
            border: 1px solid black;
        }
    }

}

@media(max-width: 480px){
    header{
        height: 100vh;
        flex-direction: column;
        h1{
            font-size: 2.4rem;
        }
        h3{
            font-size: 1.1rem;
        }
    }
    .title{
        padding: 10px;
    }
    .mobileTitle{
        display: block;
    }
    aside{
        height: 100vh;
        border: none;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-around;
    }
    .asideBlock{
        width: 40%;
        h1{
            font-size: 2rem;
        }
        h3{
            font-size: 0.9rem;
        }
        h5{
            font-size: 0.75rem;
        }
    }
    .wall{
        border: none;
    }
    .wallTitle{
        h2{
            display: none;
        }
    }
    .commentContainer{
        flex-direction: column;
    }
    .commentContent{
        width: 100%;
        margin: 0;
    }
    .commentTitle{
        display: none;
    }
    .removeContainer{
        button{
            font-size: 0.9rem;
            margin: 0; 
            padding: 2px; 
            width: 60px;
        }
    }
    .formContainer{
        width: 100%;
        input, textarea{
            border: 1px solid black;
        }
    }
}