header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    border-bottom: 5px solid black;
    font-family: 'Playfair Display', serif; 
    h1{
        font-size: 5rem;
        border-bottom: 3px solid gold;
    }
    h3{
        font-size: 1.6rem;
        line-height: 1.8;
        font-style: italic;
    }
    // .nameHighlight{
    // //     text-shadow: 0 0 5px gold;
    // // }
}
.logoContainer{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 250px;
    padding: 10px;
    margin: 0 20px; 
    justify-content: space-between;
}